
.portfolio-items {
    text-align: center;
    padding: 10px;
    height: 200px;
    width: 200px;
}


.wrapper {
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  